{% extends 'base.html' %}
{% block title %}
    Market Page
{% endblock %}

{% block content %}
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Isim</th>
                <th scope="col">Soyisim</th>
                <th scope="col">Email</th>
                <td>
                    <a href="http://127.0.0.1:5000/admin/hekim" class="btn btn-outline btn-success" role="button" aria-pressed="true">Yeni Hekim Ekle</a>
                </td>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {%for hekim in hekimler%}
            <tr> 
                <td>{{ hekim.num }}</td>
                <td>{{ hekim.isim }}</td>
                <td>{{ hekim.soyisim }}</td>
                <td>{{ hekim.email }}</td>
                {%endfor%}
                
            </tr>
            
        </tbody>
    </table>
{% endblock %}