{% extends 'base.html' %}
{% block title %}
    Admin Panel
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Admin Panel</h2>

    <!-- Buttons to Add New Hekim and Stajyer (Only Visible for Non-Stajyer Users) -->
    {% if user_role != 'stajyer' %}
    <div class="row mb-3">
        <div class="col">
            <a href="{{ url_for('hekim_page') }}" class="btn btn-outline btn-success">Yeni Hekim Ekle</a>
            <a href="{{ url_for('stajyer_page') }}" class="btn btn-outline btn-primary">Yeni Stajyer Ekle</a>
			<a href="{{ url_for('islem_guncelle', hekim_id=current_user.num) }}" class="btn btn-outline btn-info">İşlem Güncelle</a>
        </div>
    </div>
    {% endif %}
	
	{% if user_role == 'stajyer' %}
	<div class="row mb-3">
		<div class="col">
			<a href="{{ url_for('stajyer_islem_guncelle', stajyer_id=current_user.num) }}" class="btn btn-outline btn-info btn-sm">İşlem Güncelle</a>
		</div>
	</div>
	{% endif %}
    <!-- Display Hekims -->
    <h3>Hekimler</h3>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Isim</th>
                <th scope="col">Soyisim</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for hekim in hekimler %}
            <tr>
                <td>{{ hekim.num }}</td>
                <td>{{ hekim.isim }}</td>
                <td>{{ hekim.soyisim }}</td>
                <td>{{ hekim.email }}</td>
                <td>
                    {% if user_role == 'stajyer' and linked_hekim_no == hekim.num %}
                    <form method="POST" action="{{ url_for('baglidir_remove', hekim_no=hekim.num) }}">
                        <button type="submit" class="btn btn-outline btn-danger">Hekimden Ayrıl</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Display Stajyers -->
    <h3>Stajyerler</h3>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Isim</th>
                <th scope="col">Soyisim</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for stajyer in stajyers %}
            <tr>
                <td>{{ stajyer.num }}</td>
                <td>{{ stajyer.isim }}</td>
                <td>{{ stajyer.soyisim }}</td>
                <td>{{ stajyer.email }}</td>
                <td>
                    {% if user_role == 'hekim' and stajyer.num in unlinked_stajyers %}
                    <form method="POST" action="{{ url_for('baglidir_add', stajyer_no=stajyer.num) }}">
                        <button type="submit" class="btn btn-outline btn-primary">Stajyer Al</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
