{% extends 'base.html' %}
{% block title %}
    Admin Login
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-login" style="color:white">
            {{ form.hidden_tag() }}
            <img class="mb-4" src="https://i.hizliresim.com/rrbq0q1.png" alt="">
            <h1 class="h3 mb-3 font-weight-normal">
                Admin Giriş Yap
            </h1>
            <br>
            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="Email Adresi") }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Şifre") }}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
        </form>
    </div>
</body>
{% endblock %}
