{% extends 'base.html' %}
{% block title %}
    Hayvan Ekleme Sayfasi
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-login" style="color:white">
            {{ form.hidden_tag() }}
           <br> </br>
            <img class="mb-4" src="https://i.hizliresim.com/j3l8rjp.png" alt="">
            <h1 class="h3 mb-3 font-weight-normal">
                Lutfen Hayvaninizin Ozelliklerini Giriniz
            </h1>
            <br>

              {{ form.tarih.label() }}
              {{ form.tarih(class="form-control", placeholder="Tarih Giriniz") }}
  
              {{ form.saat.label() }}
              {{ form.saat(class="form-control", placeholder="Saat Giriniz") }}

              {{ form.hayvanlar.label() }}
              {{ form.hayvanlar(class="form-control", placeholder="Saat Giriniz") }}

              {{ form.hekimler.label() }}
              {{ form.hekimler(class="form-control", placeholder="Saat Giriniz") }}

            </br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}