{% extends 'base.html' %}
{% block title %}
    Stajyer Ekle
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Stajyer Ekle</h2>
    <form method="POST">
        <div class="form-group">
            <label for="stajyer_no">Stajyer Seçin:</label>
            <select class="form-control" name="stajyer_no" id="stajyer_no">
                {% for stajyer in stajyers %}
                <option value="{{ stajyer.num }}">{{ stajyer.isim }} {{ stajyer.soyisim }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Bağla</button>
    </form>
</div>
{% endblock %}
