{% extends 'base.html' %}
{% block title %}
    Eski Randevular
{% endblock %}

{% block content %}
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Saat</th>
                <th scope="col">Tarih</th>
                <th scope="col">Hayvan Adı</th>
                <th scope="col">Hekim Adı</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            {%for randevu in randevular%}
            <tr>
                <td>{{ randevu.saat }}</td>
                <td>{{ randevu.tarih }}</td>
                <td>
                    <a href="{{ url_for('hayvan_detay', hayvan_no=randevu.hayvan_no) }}">
                        {{ randevu.hayvan_adi }}
                    </a>
                </td>
                <td>{{ randevu.hekim_adi}} {{ randevu.hekim_soyisim}}</td>
                <td>
                    <a href="{{ url_for('randevu_guncelle', id=randevu.id) }}" class="btn btn-warning">Güncelle</a>
					<form action="{{ url_for('randevu_sil', id=randevu.id) }}" method="post" style="display:inline;">
						<button type="submit" class="btn btn-danger">Sil</button>
					</form>

                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    
{% endblock %}