{% extends 'base.html' %}
{% block title %}
    Hayvan Ekleme Sayfasi
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-login" style="color:white">
            {{ form.hidden_tag() }}
           <br> </br>
            <img class="mb-4" src="https://i.hizliresim.com/j3l8rjp.png" alt="">
            <h1 class="h3 mb-3 font-weight-normal">
                Lutfen Hayvaninizin Ozelliklerini Giriniz
            </h1>
            <br>
            {{ form.name.label() }}
            {{ form.name(class="form-control", placeholder="Ismi") }}

            {{ form.tur.label() }}
            {{ form.tur(class="form-control", placeholder="Turu") }}

            {{ form.yas.label() }}
            {{ form.yas(class="form-control", placeholder="Yasi") }}

            </br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}