{% extends 'base.html' %}
{% block title %}
    Hayvan Ekleme Sayfasi
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-login" style="color:white">
            {{ form.hidden_tag() }}
           <br> </br>
            <img class="mb-4" src="https://i.hizliresim.com/rrbq0q1.png" alt="">
            <h1 class="h3 mb-3 font-weight-normal">
                Ise Alacaginiz Hekimin Bilgilerini Giriniz:
            </h1>
            <br>
            {{ form.isim.label() }}
            {{ form.isim(class="form-control", placeholder="Ismi") }}

            {{ form.soyisim.label() }}
            {{ form.soyisim(class="form-control", placeholder="Soyismi") }}

            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="Email") }}

            {{ form.sifre.label() }}
            {{ form.sifre(class="form-control", placeholder="Sifre") }}

            {{ form.sifre2.label() }}
            {{ form.sifre2(class="form-control", placeholder="Yas") }}

            </br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

        </form>
    </div>
</body>
{% endblock %}