{% extends 'base.html' %}
{% block title %}
    Market Page
{% endblock %}

{% block content %}
      <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">TC Kimlik No</th>
                <th scope="col">Isim</th>
                <th scope="col">Soyisim</th>
                <th scope="col">Email</th>
                <th scope="col">Hayvanlar</th>
                <th scope="col">Diğer</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
            <tr>
                <td>{{ current_user.tc }}</td>
                <td>{{ current_user.isim }}</td>
                <td>{{ current_user.soyisim }}</td>
                <td>{{ current_user.email_address }}</td>
                <td>{{ current_user.hayvan}}</td>
                <td>
                    <a href="http://127.0.0.1:5000/randevu/eski" class="btn btn-outline btn-danger" role="button" aria-pressed="true">Onceki Randevular</a>
                    <a href="http://127.0.0.1:5000/randevu/hayvan" class="btn btn-outline btn-primary" role="button" aria-pressed="true">Yeni Hayvan Ekle</a>
                    <a href="http://127.0.0.1:5000/randevu/al" class="btn btn-outline btn-success" role="button" aria-pressed="true">Yeni Randevu Al</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}