{% extends 'base.html' %}
{% block title %}
    Randevu List
{% endblock %}

{% block content %}
<div class="container">
    <h2>Stajyer Randevular</h2>
    {% if randevular %}
        <table class="table table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">Tarih</th>
                    <th scope="col">Saat</th>
                    <th scope="col">Hayvan Adı</th>
                    <th scope="col">Hekim Adı</th>
                </tr>
            </thead>
            <tbody>
                {% for randevu in randevular %}
                <tr>
                    <td>{{ randevu.tarih }}</td>
                    <td>{{ randevu.saat }}</td>
                    <td>
                        <a href="{{ url_for('hayvan_detay', hayvan_no=randevu.hayvan_no) }}">
                            {{ randevu.hayvan_adi }}
                        </a>
                    </td>
                    <td>{{ randevu.hekim_adi }}</td>
					<td>
                    <a href="{{ url_for('recete_ekle_stajyer', hayvan_no=randevu.hayvan_no, hekim_no=randevu.hekim_no) }}" class="btn btn-primary">Recete Ekle</a>
					</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Hiçbir randevu bulunamadı.</p>
    {% endif %}
</div>
{% endblock %}
